@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter";
    font-weight: 600;
    text-transform: none;
    letter-spacing: normal;
}

body {
    font-family: "Inter";
}

h1 {
    text-align: left;
    letter-spacing: 0;
    font-size: 60px;
    text-transform: none;
    letter-spacing: -2px;
}

h2 {
    letter-spacing: -1.15px;
}

#mainmenu,
#mainmenu li a {
    font-size: 14px;
    color: #314452;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0;
}

#mainmenu>li>a {
    font-weight: 600;
}

.de_count.ultra-big {
    padding: 0;
}

.de_count.ultra-big h3 {
    letter-spacing: -10px;
    margin-bottom: 0;
}

.de_count.ultra-big span {
    letter-spacing: 0;
    font-size: 16px;
}

.de_phone-simple .d-num {
    color: #000000;
    letter-spacing: -1.1px;
}

a.btn-custom,
a.btn-custom:hover {
    letter-spacing: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
}

footer {
    font-size: 14px;
}

footer .widget ul li {
    padding: 2px 0;
}

footer address span {
    padding: 2px 0;
}