/*! Place your custom styles here */


/* font family */

.alt-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500
}

.main-font {
    font-family: 'Roboto', sans-serif;
}


/* font weight */

.font-weight-100 {
    font-weight: 100
}

.font-weight-200 {
    font-weight: 200
}

.font-weight-300 {
    font-weight: 300
}

.font-weight-400 {
    font-weight: 400
}

.font-weight-500 {
    font-weight: 500
}

.font-weight-600 {
    font-weight: 600
}

.font-weight-700 {
    font-weight: 700
}

.font-weight-800 {
    font-weight: 800
}

.font-weight-900 {
    font-weight: 900
}


/* text size */

.text-extra-small {
    font-size: 11px;
    line-height: 14px
}

.text-small {
    font-size: 12px;
    line-height: 20px
}

.text-medium {
    font-size: 16px;
    line-height: 23px
}

.text-large {
    font-size: 18px;
    line-height: 26px
}

.text-extra-large {
    font-size: 20px;
    line-height: 26px
}

.text-big-2 {
    font-size: 25px;
    line-height: 26px
}

.title-small {
    font-size: 40px;
    line-height: 95px
}

.title-small-2 {
    font-size: 50px;
    line-height: 95px
}

.title-medium {
    font-size: 60px;
    line-height: 95px
}

.title-medium-2 {
    font-size: 70px;
    line-height: 95px
}

.title-large {
    font-size: 100px;
    line-height: 95px
}

.title-extra-large {
    font-size: 130px;
    line-height: 120px
}


/* text color */

.text-white {
    color: #FFF;
}

.text-black {
    color: #242827;
}

.text-red {
    color: #9b1c23;
}

.text-blue {
    color: #2e435a;
}

.text-blue-light {
    color: #609DE6;
}

.text-extra-dark-gray {
    color: #232323;
}

.text-dark-gray {
    color: #626262;
}

.text-extra-medium-gray {
    color: #757575;
}

.text-medium-gray {
    color: #939393;
}

.text-extra-light-gray {
    color: #b7b7b7;
}

.text-light-gray {
    color: #d6d5d5;
}

.text-very-light-gray {
    color: #ededed;
}

.text-deep-pink {
    color: #ff214f;
}

.text-blue-dark {
    color: #314452 !important;
}

.text-purple {
    color: #4430AA !important;
}

.text-yellow {
    color: #FFC600 !important;
}

.text-amarillo {
    color: #866B00 !important;
}

.text-naranja {
    color: #F4A260 !important;
}

.text-transparent {
    color: #FFF1E6;
}


/* ===================================
    Background color
====================================== */

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

.bg-black-2 {
    background-color: #242827;
}

.bg-black-2020 {
    background-color: #342f32;
}

.bg-blue {
    background-color: #2e435a;
}

.bg-red {
    background-color: #FF5400;
}

.bg-blue-dark {
    background-color: #0C2036;
}

.bg-blue-light {
    background-color: #65798F;
}

.bg-extra-dark-gray {
    background-color: #1c1c1c;
}

.bg-dark-gray {
    background-color: #757575;
}

.bg-medium-dark-gray {
    background-color: #504f4f;
}

.bg-extra-medium-gray {
    background-color: #939393;
}

.bg-medium-gray {
    background-color: #dbdbdb;
}

.bg-extra-light-gray {
    background-color: #e0e0e0;
}

.bg-medium-light-gray {
    background-color: #ededed;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-very-light-gray {
    background-color: #fafafa;
}

.bg-deep-pink {
    background-color: #ff214f;
}

.bg-purple {
    background-color: #AB2BE9;
}

.bg-purple-light {
    background-color: #AB2BE9;
}

.bg-yellow {
    background-color: #FFC600;
}


/* line height */

.line-height-10 {
    line-height: 10px
}

.line-height-13 {
    line-height: 13px
}

.line-height-18 {
    line-height: 18px
}

.line-height-20 {
    line-height: 20px
}

.line-height-24 {
    line-height: 24px
}

.line-height-22 {
    line-height: 22px
}

.line-height-26 {
    line-height: 26px
}

.line-height-28 {
    line-height: 28px
}

.line-height-30 {
    line-height: 30px
}

.line-height-35 {
    line-height: 35px
}

.line-height-40 {
    line-height: 40px
}

.line-height-45 {
    line-height: 45px
}

.line-height-50 {
    line-height: 50px
}

.line-height-55 {
    line-height: 55px
}

.line-height-60 {
    line-height: 60px
}

.line-height-65 {
    line-height: 65px
}

.line-height-70 {
    line-height: 70px
}

.line-height-75 {
    line-height: 75px
}

.line-height-80 {
    line-height: 80px
}

.line-height-85 {
    line-height: 85px
}

.line-height-90 {
    line-height: 90px
}

.line-height-95 {
    line-height: 95px
}

.line-height-100 {
    line-height: 100px
}

.line-height-110 {
    line-height: 110px
}

.line-height-120 {
    line-height: 120px
}


/*==============================
    Margin
================================*/

.margin-half-all {
    margin: .5%
}

.margin-one-all {
    margin: 1%
}

.margin-one-half-all {
    margin: 1.5%
}

.margin-two-all {
    margin: 2%
}

.margin-two-half-all {
    margin: 2.5%
}

.margin-three-all {
    margin: 3%
}

.margin-three-half-all {
    margin: 3.5%
}

.margin-four-all {
    margin: 4%
}

.margin-four-half-all {
    margin: 4.5%
}

.margin-five-all {
    margin: 5%
}

.margin-five-half-all {
    margin: 5.5%
}

.margin-six-all {
    margin: 6%
}

.margin-six-half-all {
    margin: 6.5%
}

.margin-seven-all {
    margin: 7%
}

.margin-seven-half-all {
    margin: 7.5%
}

.margin-eight-all {
    margin: 8%
}

.margin-eight-half-all {
    margin: 8.5%
}

.margin-nine-all {
    margin: 9%
}

.margin-nine-half-all {
    margin: 9.5%
}

.margin-ten-all {
    margin: 10%
}

.margin-ten-half-all {
    margin: 10.5%
}

.margin-eleven-all {
    margin: 11%
}

.margin-eleven-half-all {
    margin: 11.5%
}

.margin-twelve-all {
    margin: 12%
}

.margin-twelve-half-all {
    margin: 12.5%
}

.margin-thirteen-all {
    margin: 13%
}

.margin-thirteen-half-all {
    margin: 13.5%
}

.margin-fourteen-all {
    margin: 14%
}

.margin-fourteen-half-all {
    margin: 14.5%
}

.margin-fifteen-all {
    margin: 15%
}

.margin-fifteen-half-all {
    margin: 15.5%
}

.margin-sixteen-all {
    margin: 16%
}

.margin-sixteen-half-all {
    margin: 16.5%
}

.margin-seventeen-all {
    margin: 17%
}

.margin-seventeen-half-all {
    margin: 17.5%
}

.margin-eighteen-all {
    margin: 18%
}

.margin-eighteen-half-all {
    margin: 18.5%
}

.margin-nineteen-all {
    margin: 19%
}

.margin-nineteen-half-all {
    margin: 19.5%
}

.margin-twenty-all {
    margin: 20%
}

.margin-twenty-half-all {
    margin: 20.5%
}

.margin-twenty-one-all {
    margin: 21%
}

.margin-twenty-one-half-all {
    margin: 21.5%
}

.margin-twenty-two-all {
    margin: 22%
}

.margin-twenty-two-half-all {
    margin: 22.5%
}

.margin-twenty-three-all {
    margin: 23%
}

.margin-twenty-three-half-all {
    margin: 23.5%
}

.margin-twenty-four-all {
    margin: 24%
}

.margin-twenty-four-half-all {
    margin: 24.5%
}

.margin-twenty-five-all {
    margin: 25%
}

.margin-5px-all {
    margin: 5px
}

.margin-10px-all {
    margin: 10px
}

.margin-15px-all {
    margin: 15px
}

.margin-20px-all {
    margin: 20px
}

.margin-25px-all {
    margin: 25px
}

.margin-30px-all {
    margin: 30px
}

.margin-35px-all {
    margin: 35px
}

.margin-40px-all {
    margin: 40px
}

.margin-45px-all {
    margin: 45px
}

.margin-50px-all {
    margin: 50px
}

.margin-55px-all {
    margin: 55px
}

.margin-60px-all {
    margin: 60px
}

.margin-65px-all {
    margin: 65px
}

.margin-70px-all {
    margin: 70px
}

.margin-75px-all {
    margin: 75px
}

.margin-80px-all {
    margin: 80px
}

.margin-85px-all {
    margin: 85px
}

.margin-90px-all {
    margin: 90px
}

.margin-95px-all {
    margin: 95px
}

.margin-100px-all {
    margin: 100px
}

.no-margin {
    margin: 0 !important
}

.no-margin-lr {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.no-margin-tb {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.no-margin-top {
    margin-top: 0 !important
}

.no-margin-bottom {
    margin-bottom: 0 !important
}

.no-margin-left {
    margin-left: 0 !important
}

.no-margin-right {
    margin-right: 0 !important
}

.margin-lr-auto {
    margin-left: auto !important;
    margin-right: auto !important
}

.margin-auto {
    margin: 0 auto !important;
}


/* margin top */

.margin-one-top {
    margin-top: 1%
}

.margin-one-half-top {
    margin-top: 1.5%
}

.margin-two-top {
    margin-top: 2%
}

.margin-two-half-top {
    margin-top: 2.5%
}

.margin-three-top {
    margin-top: 3%
}

.margin-three-half-top {
    margin-top: 3.5%
}

.margin-four-top {
    margin-top: 4%
}

.margin-four-half-top {
    margin-top: 4.5%
}

.margin-five-top {
    margin-top: 5%
}

.margin-five-half-top {
    margin-top: 5.5%
}

.margin-six-top {
    margin-top: 6%
}

.margin-six-half-top {
    margin-top: 6.5%
}

.margin-seven-top {
    margin-top: 7%
}

.margin-seven-half-top {
    margin-top: 7.5%
}

.margin-eight-top {
    margin-top: 8%
}

.margin-eight-half-top {
    margin-top: 8.5%
}

.margin-nine-top {
    margin-top: 9%
}

.margin-nine-half-top {
    margin-top: 9.5%
}

.margin-ten-top {
    margin-top: 10%
}

.margin-ten-half-top {
    margin-top: 10.5%
}

.margin-eleven-top {
    margin-top: 11%
}

.margin-eleven-half-top {
    margin-top: 11.5%
}

.margin-twelve-top {
    margin-top: 12%
}

.margin-twelve-half-top {
    margin-top: 12.5%
}

.margin-thirteen-top {
    margin-top: 13%
}

.margin-thirteen-half-top {
    margin-top: 13.5%
}

.margin-fourteen-top {
    margin-top: 14%
}

.margin-fourteen-half-top {
    margin-top: 14.5%
}

.margin-fifteen-top {
    margin-top: 15%
}

.margin-fifteen-half-top {
    margin-top: 15.5%
}

.margin-sixteen-top {
    margin-top: 16%
}

.margin-sixteen-half-top {
    margin-top: 16.5%
}

.margin-seventeen-top {
    margin-top: 17%
}

.margin-seventeen-half-top {
    margin-top: 17.5%
}

.margin-eighteen-top {
    margin-top: 18%
}

.margin-eighteen-half-top {
    margin-top: 18.5%
}

.margin-nineteen-top {
    margin-top: 19%
}

.margin-nineteen-half-top {
    margin-top: 19.5%
}

.margin-twenty-top {
    margin-top: 20%
}

.margin-twenty-half-top {
    margin-top: 20.5%
}

.margin-twenty-one-top {
    margin-top: 21%
}

.margin-twenty-one-half-top {
    margin-top: 21.5%
}

.margin-twenty-two-top {
    margin-top: 22%
}

.margin-twenty-two-half-top {
    margin-top: 22.5%
}

.margin-twenty-three-top {
    margin-top: 23%
}

.margin-twenty-three-half-top {
    margin-top: 23.5%
}

.margin-twenty-four-top {
    margin-top: 24%
}

.margin-twenty-four-half-top {
    margin-top: 24.5%
}

.margin-twenty-five-top {
    margin-top: 25%
}

.margin-5px-top {
    margin-top: 5px
}

.margin-10px-top {
    margin-top: 10px
}

.margin-15px-top {
    margin-top: 15px
}

.margin-20px-top {
    margin-top: 20px
}

.margin-25px-top {
    margin-top: 25px
}

.margin-30px-top {
    margin-top: 30px
}

.margin-35px-top {
    margin-top: 35px
}

.margin-40px-top {
    margin-top: 40px
}

.margin-45px-top {
    margin-top: 45px
}

.margin-50px-top {
    margin-top: 50px
}

.margin-55px-top {
    margin-top: 55px
}

.margin-60px-top {
    margin-top: 60px
}

.margin-65px-top {
    margin-top: 65px
}

.margin-70px-top {
    margin-top: 70px
}

.margin-75px-top {
    margin-top: 75px
}

.margin-80px-top {
    margin-top: 80px
}

.margin-90px-top {
    margin-top: 90px
}

.margin-100px-top {
    margin-top: 100px
}


/* margin bottom */

.margin-one-bottom {
    margin-bottom: 1%
}

.margin-one-half-bottom {
    margin-bottom: 1.5%
}

.margin-two-bottom {
    margin-bottom: 2%
}

.margin-two-half-bottom {
    margin-bottom: 2.5%
}

.margin-three-bottom {
    margin-bottom: 3%
}

.margin-three-half-bottom {
    margin-bottom: 3.5%
}

.margin-four-bottom {
    margin-bottom: 4%
}

.margin-four-half-bottom {
    margin-bottom: 4.5%
}

.margin-five-bottom {
    margin-bottom: 5%
}

.margin-five-half-bottom {
    margin-bottom: 5.5%
}

.margin-six-bottom {
    margin-bottom: 6%
}

.margin-six-half-bottom {
    margin-bottom: 6.5%
}

.margin-seven-bottom {
    margin-bottom: 7%
}

.margin-seven-half-bottom {
    margin-bottom: 7.5%
}

.margin-eight-bottom {
    margin-bottom: 8%
}

.margin-eight-half-bottom {
    margin-bottom: 8.5%
}

.margin-nine-bottom {
    margin-bottom: 9%
}

.margin-nine-half-bottom {
    margin-bottom: 9.5%
}

.margin-ten-bottom {
    margin-bottom: 10%
}

.margin-ten-half-bottom {
    margin-bottom: 10.5%
}

.margin-eleven-bottom {
    margin-bottom: 11%
}

.margin-eleven-half-bottom {
    margin-bottom: 11.5%
}

.margin-twelve-bottom {
    margin-bottom: 12%
}

.margin-twelve-half-bottom {
    margin-bottom: 12.5%
}

.margin-thirteen-bottom {
    margin-bottom: 13%
}

.margin-thirteen-half-bottom {
    margin-bottom: 13.5%
}

.margin-fourteen-bottom {
    margin-bottom: 14%
}

.margin-fourteen-half-bottom {
    margin-bottom: 14.5%
}

.margin-fifteen-bottom {
    margin-bottom: 15%
}

.margin-fifteen-half-bottom {
    margin-bottom: 15.5%
}

.margin-sixteen-bottom {
    margin-bottom: 16%
}

.margin-sixteen-half-bottom {
    margin-bottom: 16.5%
}

.margin-seventeen-bottom {
    margin-bottom: 17%
}

.margin-seventeen-half-bottom {
    margin-bottom: 17.5%
}

.margin-eighteen-bottom {
    margin-bottom: 18%
}

.margin-eighteen-half-bottom {
    margin-bottom: 18.5%
}

.margin-nineteen-bottom {
    margin-bottom: 19%
}

.margin-nineteen-half-bottom {
    margin-bottom: 19.5%
}

.margin-twenty-bottom {
    margin-bottom: 20%
}

.margin-twenty-half-bottom {
    margin-bottom: 20.5%
}

.margin-twenty-one-bottom {
    margin-bottom: 21%
}

.margin-twenty-one-half-bottom {
    margin-bottom: 21.5%
}

.margin-twenty-two-bottom {
    margin-bottom: 22%
}

.margin-twenty-two-half-bottom {
    margin-bottom: 22.5%
}

.margin-twenty-three-bottom {
    margin-bottom: 23%
}

.margin-twenty-three-half-bottom {
    margin-bottom: 23.5%
}

.margin-twenty-four-bottom {
    margin-bottom: 24%
}

.margin-twenty-four-half-bottom {
    margin-bottom: 24.5%
}

.margin-twenty-five-bottom {
    margin-bottom: 25%
}

.margin-5px-bottom {
    margin-bottom: 5px
}

.margin-10px-bottom {
    margin-bottom: 10px
}

.margin-15px-bottom {
    margin-bottom: 15px
}

.margin-20px-bottom {
    margin-bottom: 20px
}

.margin-25px-bottom {
    margin-bottom: 25px
}

.margin-30px-bottom {
    margin-bottom: 30px
}

.margin-35px-bottom {
    margin-bottom: 35px
}

.margin-40px-bottom {
    margin-bottom: 40px
}

.margin-45px-bottom {
    margin-bottom: 45px
}

.margin-50px-bottom {
    margin-bottom: 50px
}

.margin-55px-bottom {
    margin-bottom: 55px
}

.margin-60px-bottom {
    margin-bottom: 60px
}

.margin-65px-bottom {
    margin-bottom: 65px
}

.margin-70px-bottom {
    margin-bottom: 70px
}

.margin-75px-bottom {
    margin-bottom: 75px
}

.margin-80px-bottom {
    margin-bottom: 80px
}

.margin-85px-bottom {
    margin-bottom: 85px
}

.margin-90px-bottom {
    margin-bottom: 90px
}

.margin-95px-bottom {
    margin-bottom: 95px
}

.margin-100px-bottom {
    margin-bottom: 100px
}


/* margin right */

.margin-one-right {
    margin-right: 1%
}

.margin-one-half-right {
    margin-right: 1.5%
}

.margin-two-right {
    margin-right: 2%
}

.margin-two-half-right {
    margin-right: 2.5%
}

.margin-three-right {
    margin-right: 3%
}

.margin-three-half-right {
    margin-right: 3.5%
}

.margin-four-right {
    margin-right: 4%
}

.margin-four-half-right {
    margin-right: 4.5%
}

.margin-five-right {
    margin-right: 5%
}

.margin-five-half-right {
    margin-right: 5.5%
}

.margin-six-right {
    margin-right: 6%
}

.margin-six-half-right {
    margin-right: 6.5%
}

.margin-seven-right {
    margin-right: 7%
}

.margin-seven-half-right {
    margin-right: 7.5%
}

.margin-eight-right {
    margin-right: 8%
}

.margin-eight-half-right {
    margin-right: 8.5%
}

.margin-nine-right {
    margin-right: 9%
}

.margin-nine-half-right {
    margin-right: 9.5%
}

.margin-ten-right {
    margin-right: 10%
}

.margin-ten-half-right {
    margin-right: 10.5%
}

.margin-eleven-right {
    margin-right: 11%
}

.margin-eleven-half-right {
    margin-right: 11.5%
}

.margin-twelve-right {
    margin-right: 12%
}

.margin-twelve-half-right {
    margin-right: 12.5%
}

.margin-thirteen-right {
    margin-right: 13%
}

.margin-thirteen-half-right {
    margin-right: 13.5%
}

.margin-fourteen-right {
    margin-right: 14%
}

.margin-fourteen-half-right {
    margin-right: 14.5%
}

.margin-fifteen-right {
    margin-right: 15%
}

.margin-fifteen-half-right {
    margin-right: 15.5%
}

.margin-sixteen-right {
    margin-right: 16%
}

.margin-sixteen-half-right {
    margin-right: 16.5%
}

.margin-seventeen-right {
    margin-right: 17%
}

.margin-seventeen-half-right {
    margin-right: 17.5%
}

.margin-eighteen-right {
    margin-right: 18%
}

.margin-eighteen-half-right {
    margin-right: 18.5%
}

.margin-nineteen-right {
    margin-right: 19%
}

.margin-nineteen-half-right {
    margin-right: 19.5%
}

.margin-twenty-right {
    margin-right: 20%
}

.margin-twenty-half-right {
    margin-right: 20.5%
}

.margin-twenty-right {
    margin-right: 21%
}

.margin-twenty-one-half-right {
    margin-right: 21.5%
}

.margin-twenty-two-right {
    margin-right: 22%
}

.margin-twenty-two-half-right {
    margin-right: 22.5%
}

.margin-twenty-three-right {
    margin-right: 23%
}

.margin-twenty-three-half-right {
    margin-right: 23.5%
}

.margin-twenty-four-right {
    margin-right: 24%
}

.margin-twenty-four-half-right {
    margin-right: 24.5%
}

.margin-twenty-five-right {
    margin-right: 25%
}

.margin-5px-right {
    margin-right: 5px
}

.margin-10px-right {
    margin-right: 10px
}

.margin-15px-right {
    margin-right: 15px
}

.margin-20px-right {
    margin-right: 20px
}

.margin-25px-right {
    margin-right: 25px
}

.margin-30px-right {
    margin-right: 30px
}

.margin-35px-right {
    margin-right: 35px
}

.margin-40px-right {
    margin-right: 40px
}

.margin-45px-right {
    margin-right: 45px
}

.margin-50px-right {
    margin-right: 50px
}

.margin-55px-right {
    margin-right: 55px
}

.margin-60px-right {
    margin-right: 60px
}

.margin-65px-right {
    margin-right: 65px
}

.margin-70px-right {
    margin-right: 70px
}

.margin-75px-right {
    margin-right: 75px
}

.margin-80px-right {
    margin-right: 80px
}

.margin-85px-right {
    margin-right: 85px
}

.margin-90px-right {
    margin-right: 90px
}

.margin-95px-right {
    margin-right: 95px
}

.margin-100px-right {
    margin-right: 100px
}


/* margin left */

.margin-one-left {
    margin-left: 1%
}

.margin-one-half-left {
    margin-left: 1.5%
}

.margin-two-left {
    margin-left: 2%
}

.margin-two-half-left {
    margin-left: 2.5%
}

.margin-three-left {
    margin-left: 3%
}

.margin-three-half-left {
    margin-left: 3.5%
}

.margin-four-left {
    margin-left: 4%
}

.margin-four-half-left {
    margin-left: 4.5%
}

.margin-five-left {
    margin-left: 5%
}

.margin-five-half-left {
    margin-left: 5.5%
}

.margin-six-left {
    margin-left: 6%
}

.margin-six-half-left {
    margin-left: 6.5%
}

.margin-seven-left {
    margin-left: 7%
}

.margin-seven-half-left {
    margin-left: 7.5%
}

.margin-eight-left {
    margin-left: 8%
}

.margin-eight-half-left {
    margin-left: 8.5%
}

.margin-nine-left {
    margin-left: 9%
}

.margin-nine-half-left {
    margin-left: 9.5%
}

.margin-ten-left {
    margin-left: 10%
}

.margin-ten-half-left {
    margin-left: 10.5%
}

.margin-eleven-left {
    margin-left: 11%
}

.margin-eleven-half-left {
    margin-left: 11.5%
}

.margin-twelve-left {
    margin-left: 12%
}

.margin-twelve-half-left {
    margin-left: 12.5%
}

.margin-thirteen-left {
    margin-left: 13%
}

.margin-thirteen-half-left {
    margin-left: 13.5%
}

.margin-fourteen-left {
    margin-left: 14%
}

.margin-fourteen-half-left {
    margin-left: 14.5%
}

.margin-fifteen-left {
    margin-left: 15%
}

.margin-fifteen-half-left {
    margin-left: 15.5%
}

.margin-sixteen-left {
    margin-left: 16%
}

.margin-sixteen-half-left {
    margin-left: 16.5%
}

.margin-seventeen-left {
    margin-left: 17%
}

.margin-seventeen-half-left {
    margin-left: 17.5%
}

.margin-eighteen-left {
    margin-left: 18%
}

.margin-eighteen-half-left {
    margin-left: 18.5%
}

.margin-nineteen-left {
    margin-left: 19%
}

.margin-nineteen-half-left {
    margin-left: 19.5%
}

.margin-twenty-left {
    margin-left: 20%
}

.margin-twenty-half-left {
    margin-left: 20.5%
}

.margin-twenty-one-left {
    margin-left: 21%
}

.margin-twenty-one-half-left {
    margin-left: 21.5%
}

.margin-twenty-two-left {
    margin-left: 22%
}

.margin-twenty-two-half-left {
    margin-left: 22.5%
}

.margin-twenty-three-left {
    margin-left: 23%
}

.margin-twenty-three-half-left {
    margin-left: 23.5%
}

.margin-twenty-four-left {
    margin-left: 24%
}

.margin-twenty-four-half-left {
    margin-left: 24.5%
}

.margin-twenty-five-left {
    margin-left: 25%
}

.margin-5px-left {
    margin-left: 5px
}

.margin-10px-left {
    margin-left: 10px
}

.margin-15px-left {
    margin-left: 15px
}

.margin-20px-left {
    margin-left: 20px
}

.margin-25px-left {
    margin-left: 25px
}

.margin-30px-left {
    margin-left: 30px
}

.margin-35px-left {
    margin-left: 35px
}

.margin-40px-left {
    margin-left: 40px
}

.margin-45px-left {
    margin-left: 45px
}

.margin-50px-left {
    margin-left: 50px
}

.margin-55px-left {
    margin-left: 55px
}

.margin-60px-left {
    margin-left: 60px
}

.margin-65px-left {
    margin-left: 65px
}

.margin-70px-left {
    margin-left: 70px
}

.margin-75px-left {
    margin-left: 75px
}

.margin-80px-left {
    margin-left: 80px
}

.margin-85px-left {
    margin-left: 85px
}

.margin-90px-left {
    margin-left: 90px
}

.margin-95px-left {
    margin-left: 95px
}

.margin-100px-left {
    margin-left: 100px
}


/* margin left and right */

.margin-one-lr {
    margin-left: 1%;
    margin-right: 1%;
}

.margin-one-half-lr {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.margin-two-lr {
    margin-left: 2%;
    margin-right: 2%;
}

.margin-two-half-lr {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.margin-three-lr {
    margin-left: 3%;
    margin-right: 3%;
}

.margin-three-half-lr {
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.margin-four-lr {
    margin-left: 4%;
    margin-right: 4%;
}

.margin-four-half-lr {
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.margin-five-lr {
    margin-left: 5%;
    margin-right: 5%;
}

.margin-five-half-lr {
    margin-left: 5.5%;
    margin-right: 5.5%;
}

.margin-six-lr {
    margin-left: 6%;
    margin-right: 6%;
}

.margin-six-half-lr {
    margin-left: 6.5%;
    margin-right: 6.5%;
}

.margin-seven-lr {
    margin-left: 7%;
    margin-right: 7%;
}

.margin-seven-half-lr {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.margin-eight-lr {
    margin-left: 8%;
    margin-right: 8%;
}

.margin-eight-half-lr {
    margin-left: 8.5%;
    margin-right: 8.5%;
}

.margin-nine-lr {
    margin-left: 9%;
    margin-right: 9%;
}

.margin-nine-half-lr {
    margin-left: 9.5%;
    margin-right: 9.5%;
}

.margin-ten-lr {
    margin-left: 10%;
    margin-right: 10%;
}

.margin-ten-half-lr {
    margin-left: 10.5%;
    margin-right: 10.5%;
}

.margin-eleven-lr {
    margin-left: 11%;
    margin-right: 11%;
}

.margin-eleven-half-lr {
    margin-left: 11.5%;
    margin-right: 11.5%;
}

.margin-twelve-lr {
    margin-left: 12%;
    margin-right: 12%;
}

.margin-twelve-half-lr {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.margin-thirteen-lr {
    margin-left: 13%;
    margin-right: 13%;
}

.margin-thirteen-half-lr {
    margin-left: 13.5%;
    margin-right: 13.5%;
}

.margin-fourteen-lr {
    margin-left: 14%;
    margin-right: 14%;
}

.margin-fourteen-half-lr {
    margin-left: 14.5%;
    margin-right: 14.5%;
}

.margin-fifteen-lr {
    margin-left: 15%;
    margin-right: 15%;
}

.margin-fifteen-half-lr {
    margin-left: 15.5%;
    margin-right: 15.5%;
}

.margin-sixteen-lr {
    margin-left: 16%;
    margin-right: 16%;
}

.margin-sixteen-half-lr {
    margin-left: 16.5%;
    margin-right: 16.5%;
}

.margin-seventeen-lr {
    margin-left: 17%;
    margin-right: 17%;
}

.margin-seventeen-half-lr {
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.margin-eighteen-lr {
    margin-left: 18%;
    margin-right: 18%;
}

.margin-eighteen-half-lr {
    margin-left: 18.5%;
    margin-right: 18.5%;
}

.margin-nineteen-lr {
    margin-left: 19%;
    margin-right: 19%;
}

.margin-nineteen-half-lr {
    margin-left: 19.5%;
    margin-right: 19.5%;
}

.margin-twenty-lr {
    margin-left: 20%;
    margin-right: 20%;
}

.margin-twenty-half-lr {
    margin-left: 20.5%;
    margin-right: 20.5%;
}

.margin-twenty-one-lr {
    margin-left: 21%;
    margin-right: 21%;
}

.margin-twenty-one-half-lr {
    margin-left: 21.5%;
    margin-right: 21.5%;
}

.margin-twenty-two-lr {
    margin-left: 22%;
    margin-right: 22%;
}

.margin-twenty-two-half-lr {
    margin-left: 22.5%;
    margin-right: 22.5%;
}

.margin-twenty-three-lr {
    margin-left: 23%;
    margin-right: 23%;
}

.margin-twenty-three-half-lr {
    margin-left: 23.5%;
    margin-right: 23.5%;
}

.margin-twenty-four-lr {
    margin-left: 24%;
    margin-right: 24%;
}

.margin-twenty-four-half-lr {
    margin-left: 24.5%;
    margin-right: 24.5%;
}

.margin-twenty-five-lr {
    margin-left: 25%;
    margin-right: 25%;
}

.margin-5px-lr {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-10px-lr {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-15px-lr {
    margin-left: 15px;
    margin-right: 15px;
}

.margin-20px-lr {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-25px-lr {
    margin-left: 25px;
    margin-right: 25px;
}

.margin-30px-lr {
    margin-left: 30px;
    margin-right: 30px;
}

.margin-35px-lr {
    margin-left: 35px;
    margin-right: 35px;
}

.margin-40px-lr {
    margin-left: 40px;
    margin-right: 40px;
}

.margin-45px-lr {
    margin-left: 45px;
    margin-right: 45px;
}

.margin-50px-lr {
    margin-left: 50px;
    margin-right: 50px;
}

.margin-55px-lr {
    margin-left: 55px;
    margin-right: 55px;
}

.margin-60px-lr {
    margin-left: 60px;
    margin-right: 60px;
}

.margin-65px-lr {
    margin-left: 65px;
    margin-right: 65px;
}

.margin-70px-lr {
    margin-left: 70px;
    margin-right: 70px;
}

.margin-75px-lr {
    margin-left: 75px;
    margin-right: 75px;
}

.margin-80px-lr {
    margin-left: 80px;
    margin-right: 80px;
}

.margin-85px-lr {
    margin-left: 85px;
    margin-right: 85px;
}

.margin-90px-lr {
    margin-left: 90px;
    margin-right: 90px;
}

.margin-95px-lr {
    margin-left: 95px;
    margin-right: 95px;
}

.margin-100px-lr {
    margin-left: 100px;
    margin-right: 100px;
}


/* margin top and bottom */

.margin-one-tb {
    margin-top: 1%;
    margin-bottom: 1%;
}

.margin-one-half-tb {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.margin-two-tb {
    margin-top: 2%;
    margin-bottom: 2%;
}

.margin-two-half-tb {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.margin-three-tb {
    margin-top: 3%;
    margin-bottom: 3%;
}

.margin-three-half-tb {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

.margin-four-tb {
    margin-top: 4%;
    margin-bottom: 4%;
}

.margin-four-half-tb {
    margin-top: 4.5%;
    margin-bottom: 4.5%;
}

.margin-five-tb {
    margin-top: 5%;
    margin-bottom: 5%;
}

.margin-five-half-tb {
    margin-top: 5.5%;
    margin-bottom: 5.5%;
}

.margin-six-tb {
    margin-top: 6%;
    margin-bottom: 6%;
}

.margin-six-half-tb {
    margin-top: 6.5%;
    margin-bottom: 6.5%;
}

.margin-seven-tb {
    margin-top: 7%;
    margin-bottom: 7%;
}

.margin-seven-half-tb {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.margin-eight-tb {
    margin-top: 8%;
    margin-bottom: 8%;
}

.margin-eight-half-tb {
    margin-top: 8.5%;
    margin-bottom: 8.5%;
}

.margin-nine-tb {
    margin-top: 9%;
    margin-bottom: 9%;
}

.margin-nine-half-tb {
    margin-top: 9.5%;
    margin-bottom: 9.5%;
}

.margin-ten-tb {
    margin-top: 10%;
    margin-bottom: 10%;
}

.margin-ten-half-tb {
    margin-top: 10.5%;
    margin-bottom: 10.5%;
}

.margin-eleven-tb {
    margin-top: 11%;
    margin-bottom: 11%;
}

.margin-eleven-half-tb {
    margin-top: 11.5%;
    margin-bottom: 11.5%;
}

.margin-twelve-tb {
    margin-top: 12%;
    margin-bottom: 12%;
}

.margin-twelve-half-tb {
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}

.margin-thirteen-tb {
    margin-top: 13%;
    margin-bottom: 13%;
}

.margin-thirteen-half-tb {
    margin-top: 13.5%;
    margin-bottom: 13.5%;
}

.margin-fourteen-tb {
    margin-top: 14%;
    margin-bottom: 14%;
}

.margin-fourteen-half-tb {
    margin-top: 14.5%;
    margin-bottom: 14.5%;
}

.margin-fifteen-tb {
    margin-top: 15%;
    margin-bottom: 15%;
}

.margin-fifteen-half-tb {
    margin-top: 15.5%;
    margin-bottom: 15.5%;
}

.margin-sixteen-tb {
    margin-top: 16%;
    margin-bottom: 16%;
}

.margin-sixteen-half-tb {
    margin-top: 16.5%;
    margin-bottom: 16.5%;
}

.margin-seventeen-tb {
    margin-top: 17%;
    margin-bottom: 17%;
}

.margin-seventeen-half-tb {
    margin-top: 17.5%;
    margin-bottom: 17.5%;
}

.margin-eighteen-tb {
    margin-top: 18%;
    margin-bottom: 18%;
}

.margin-eighteen-half-tb {
    margin-top: 18.5%;
    margin-bottom: 18.5%;
}

.margin-nineteen-tb {
    margin-top: 19%;
    margin-bottom: 19%;
}

.margin-nineteen-half-tb {
    margin-top: 19.5%;
    margin-bottom: 19.5%;
}

.margin-twenty-tb {
    margin-top: 20%;
    margin-bottom: 20%;
}

.margin-twenty-half-tb {
    margin-top: 20.5%;
    margin-bottom: 20.5%;
}

.margin-twenty-one-tb {
    margin-top: 21%;
    margin-bottom: 21%;
}

.margin-twenty-one-half-tb {
    margin-top: 21.5%;
    margin-bottom: 21.5%;
}

.margin-twenty-two-tb {
    margin-top: 22%;
    margin-bottom: 22%;
}

.margin-twenty-two-half-tb {
    margin-top: 22.5%;
    margin-bottom: 22.5%;
}

.margin-twenty-three-tb {
    margin-top: 23%;
    margin-bottom: 23%;
}

.margin-twenty-three-half-tb {
    margin-top: 23.5%;
    margin-bottom: 23.5%;
}

.margin-twenty-four-tb {
    margin-top: 24%;
    margin-bottom: 24%;
}

.margin-twenty-four-half-tb {
    margin-top: 24.5%;
    margin-bottom: 24.5%;
}

.margin-twenty-five-tb {
    margin-top: 25%;
    margin-bottom: 25%;
}

.margin-5px-tb {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-10px-tb {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-20px-tb {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-25px-tb {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-30px-tb {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-35px-tb {
    margin-top: 35px;
    margin-bottom: 35px;
}

.margin-40px-tb {
    margin-top: 40px;
    margin-bottom: 40px;
}

.margin-45px-tb {
    margin-top: 45px;
    margin-bottom: 45px;
}

.margin-50px-tb {
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin-55px-tb {
    margin-top: 55px;
    margin-bottom: 55px;
}

.margin-60px-tb {
    margin-top: 60px;
    margin-bottom: 60px;
}

.margin-65px-tb {
    margin-top: 65px;
    margin-bottom: 65px;
}

.margin-70px-tb {
    margin-top: 70px;
    margin-bottom: 70px;
}

.margin-75px-tb {
    margin-top: 75px;
    margin-bottom: 75px;
}

.margin-80px-tb {
    margin-top: 80px;
    margin-bottom: 80px;
}

.margin-85px-tb {
    margin-top: 85px;
    margin-bottom: 85px;
}

.margin-90px-tb {
    margin-top: 90px;
    margin-bottom: 90px;
}

.margin-95px-tb {
    margin-top: 95px;
    margin-bottom: 95px;
}

.margin-100px-tb {
    margin-top: 100px;
    margin-bottom: 100px;
}


/*===============================
    Padding
=================================*/

.no-padding {
    padding: 0 !important
}

.no-padding-lr {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.no-padding-tb {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.no-padding-top {
    padding-top: 0 !important
}

.no-padding-bottom {
    padding-bottom: 0 !important
}

.no-padding-left {
    padding-left: 0 !important
}

.no-padding-right {
    padding-right: 0 !important
}

.padding-one-all {
    padding: 1%;
}

.padding-one-half-all {
    padding: 1.5%;
}

.padding-two-all {
    padding: 2%;
}

.padding-two-half-all {
    padding: 2.5%;
}

.padding-three-all {
    padding: 3%;
}

.padding-three-half-all {
    padding: 3.5%;
}

.padding-four-all {
    padding: 4%;
}

.padding-four-half-all {
    padding: 4.5%;
}

.padding-five-all {
    padding: 5%;
}

.padding-five-half-all {
    padding: 5.5%;
}

.padding-six-all {
    padding: 6%;
}

.padding-six-half-all {
    padding: 6.5%;
}

.padding-seven-all {
    padding: 7%;
}

.padding-seven-half-all {
    padding: 7.5%;
}

.padding-eight-all {
    padding: 8%;
}

.padding-eight-half-all {
    padding: 8.5%;
}

.padding-nine-all {
    padding: 9%;
}

.padding-nine-half-all {
    padding: 9.5%;
}

.padding-ten-all {
    padding: 10%;
}

.padding-ten-half-all {
    padding: 10.5%;
}

.padding-eleven-all {
    padding: 11%;
}

.padding-eleven-half-all {
    padding: 11.5%;
}

.padding-twelve-all {
    padding: 12%;
}

.padding-twelve-half-all {
    padding: 12.5%;
}

.padding-thirteen-all {
    padding: 13%;
}

.padding-thirteen-half-all {
    padding: 13.5%;
}

.padding-fourteen-all {
    padding: 14%;
}

.padding-fourteen-half-all {
    padding: 14.5%;
}

.padding-fifteen-all {
    padding: 15%;
}

.padding-fifteen-half-all {
    padding: 15.5%;
}

.padding-sixteen-all {
    padding: 16%;
}

.padding-sixteen-half-all {
    padding: 16.5%;
}

.padding-seventeen-all {
    padding: 17%;
}

.padding-seventeen-half-all {
    padding: 17.5%;
}

.padding-eighteen-all {
    padding: 18%;
}

.padding-eighteen-half-all {
    padding: 18.5%;
}

.padding-nineteen-all {
    padding: 19%;
}

.padding-nineteen-half-all {
    padding: 19.5%;
}

.padding-twenty-all {
    padding: 20%;
}

.padding-twenty-half-all {
    padding: 20.5%;
}

.padding-twenty-one-all {
    padding: 21%;
}

.padding-twenty-one-half-all {
    padding: 21.5%;
}

.padding-twenty-two-all {
    padding: 22%;
}

.padding-twenty-two-half-all {
    padding: 22.5%;
}

.padding-twenty-three-all {
    padding: 23%;
}

.padding-twenty-three-half-all {
    padding: 23.5%;
}

.padding-twenty-four-all {
    padding: 24%;
}

.padding-twenty-four-half-all {
    padding: 24.5%;
}

.padding-twenty-five-all {
    padding: 25%;
}

.padding-twenty-five-half-all {
    padding: 25.5%;
}

.padding-5px-all {
    padding: 5px;
}

.padding-10px-all {
    padding: 10px;
}

.padding-15px-all {
    padding: 15px;
}

.padding-20px-all {
    padding: 20px;
}

.padding-25px-all {
    padding: 25px;
}

.padding-30px-all {
    padding: 30px;
}

.padding-35px-all {
    padding: 35px;
}

.padding-40px-all {
    padding: 40px;
}

.padding-45px-all {
    padding: 45px;
}

.padding-50px-all {
    padding: 50px;
}

.padding-55px-all {
    padding: 55px;
}

.padding-60px-all {
    padding: 60px;
}

.padding-65px-all {
    padding: 65px;
}

.padding-70px-all {
    padding: 70px;
}

.padding-75px-all {
    padding: 75px;
}

.padding-80px-all {
    padding: 80px;
}

.padding-85px-all {
    padding: 85px;
}

.padding-90px-all {
    padding: 90px;
}

.padding-95px-all {
    padding: 95px;
}

.padding-100px-all {
    padding: 100px;
}


/* padding top */

.padding-one-top {
    padding-top: 1%;
}

.padding-one-half-top {
    padding-top: 1.5%;
}

.padding-two-top {
    padding-top: 2%;
}

.padding-two-half-top {
    padding-top: 2.5%;
}

.padding-three-top {
    padding-top: 3%;
}

.padding-three-half-top {
    padding-top: 3.5%;
}

.padding-four-top {
    padding-top: 4%;
}

.padding-four-half-top {
    padding-top: 4.5%;
}

.padding-five-top {
    padding-top: 5%;
}

.padding-five-half-top {
    padding-top: 5.5%;
}

.padding-six-top {
    padding-top: 6%;
}

.padding-six-half-top {
    padding-top: 6.5%;
}

.padding-seven-top {
    padding-top: 7%;
}

.padding-seven-half-top {
    padding-top: 7.5%;
}

.padding-eight-top {
    padding-top: 8%;
}

.padding-eight-half-top {
    padding-top: 8.5%;
}

.padding-nine-top {
    padding-top: 9%;
}

.padding-nine-half-top {
    padding-top: 9.5%;
}

.padding-ten-top {
    padding-top: 10%;
}

.padding-ten-half-top {
    padding-top: 10.5%;
}

.padding-eleven-top {
    padding-top: 11%;
}

.padding-eleven-half-top {
    padding-top: 11.5%;
}

.padding-twelve-top {
    padding-top: 12%;
}

.padding-twelve-half-top {
    padding-top: 12.5%;
}

.padding-thirteen-top {
    padding-top: 13%;
}

.padding-thirteen-half-top {
    padding-top: 13.5%;
}

.padding-fourteen-top {
    padding-top: 14%;
}

.padding-fourteen-half-top {
    padding-top: 14.5%;
}

.padding-fifteen-top {
    padding-top: 15%;
}

.padding-fifteen-half-top {
    padding-top: 15.5%;
}

.padding-sixteen-top {
    padding-top: 16%;
}

.padding-sixteen-half-top {
    padding-top: 16.5%;
}

.padding-seventeen-top {
    padding-top: 17%;
}

.padding-seventeen-half-top {
    padding-top: 17.5%;
}

.padding-eighteen-top {
    padding-top: 18%;
}

.padding-eighteen-half-top {
    padding-top: 18.5%;
}

.padding-nineteen-top {
    padding-top: 19%;
}

.padding-nineteen-half-top {
    padding-top: 19.5%;
}

.padding-twenty-top {
    padding-top: 20%;
}

.padding-twenty-half-top {
    padding-top: 20.5%;
}

.padding-twenty-one-top {
    padding-top: 21%;
}

.padding-twenty-one-half-top {
    padding-top: 21.5%;
}

.padding-twenty-two-top {
    padding-top: 22%;
}

.padding-twenty-two-half-top {
    padding-top: 22.5%;
}

.padding-twenty-two-top {
    padding-top: 22%;
}

.padding-twenty-two-half-top {
    padding-top: 22.5%;
}

.padding-twenty-three-top {
    padding-top: 23%;
}

.padding-twenty-three-half-top {
    padding-top: 23.5%;
}

.padding-twenty-four-top {
    padding-top: 24%;
}

.padding-twenty-four-half-top {
    padding-top: 24.5%;
}

.padding-twenty-five-top {
    padding-top: 25%;
}

.padding-5px-top {
    padding-top: 5px;
}

.padding-10px-top {
    padding-top: 10px;
}

.padding-15px-top {
    padding-top: 15px;
}

.padding-20px-top {
    padding-top: 20px;
}

.padding-25px-top {
    padding-top: 25px;
}

.padding-30px-top {
    padding-top: 30px;
}

.padding-35px-top {
    padding-top: 35px;
}

.padding-40px-top {
    padding-top: 40px;
}

.padding-45px-top {
    padding-top: 45px;
}

.padding-50px-top {
    padding-top: 50px;
}

.padding-55px-top {
    padding-top: 55px;
}

.padding-60px-top {
    padding-top: 60px;
}

.padding-65px-top {
    padding-top: 65px;
}

.padding-70px-top {
    padding-top: 70px;
}

.padding-75px-top {
    padding-top: 75px;
}

.padding-80px-top {
    padding-top: 80px;
}

.padding-85px-top {
    padding-top: 85px;
}

.padding-90px-top {
    padding-top: 90px;
}

.padding-95px-top {
    padding-top: 95px;
}

.padding-100px-top {
    padding-top: 100px;
}


/* padding bottom */

.padding-one-bottom {
    padding-bottom: 1%;
}

.padding-one-half-bottom {
    padding-bottom: 1.5%;
}

.padding-two-bottom {
    padding-bottom: 2%;
}

.padding-two-half-bottom {
    padding-bottom: 2.5%;
}

.padding-three-bottom {
    padding-bottom: 3%;
}

.padding-three-half-bottom {
    padding-bottom: 3.5%;
}

.padding-four-bottom {
    padding-bottom: 4%;
}

.padding-four-half-bottom {
    padding-bottom: 4.5%;
}

.padding-five-bottom {
    padding-bottom: 5%;
}

.padding-five-half-bottom {
    padding-bottom: 5.5%;
}

.padding-six-bottom {
    padding-bottom: 6%;
}

.padding-six-half-bottom {
    padding-bottom: 6.5%;
}

.padding-seven-bottom {
    padding-bottom: 7%;
}

.padding-seven-half-bottom {
    padding-bottom: 7.5%;
}

.padding-eight-bottom {
    padding-bottom: 8%;
}

.padding-eight-half-bottom {
    padding-bottom: 8.5%;
}

.padding-nine-bottom {
    padding-bottom: 9%;
}

.padding-nine-half-bottom {
    padding-bottom: 9.5%;
}

.padding-ten-bottom {
    padding-bottom: 10%;
}

.padding-ten-half-bottom {
    padding-bottom: 10.5%;
}

.padding-eleven-bottom {
    padding-bottom: 11%;
}

.padding-eleven-half-bottom {
    padding-bottom: 11.5%;
}

.padding-twelve-bottom {
    padding-bottom: 12%;
}

.padding-twelve-half-bottom {
    padding-bottom: 12.5%;
}

.padding-thirteen-bottom {
    padding-bottom: 13%;
}

.padding-thirteen-half-bottom {
    padding-bottom: 13.5%;
}

.padding-fourteen-bottom {
    padding-bottom: 14%;
}

.padding-fourteen-half-bottom {
    padding-bottom: 14.5%;
}

.padding-fifteen-bottom {
    padding-bottom: 15%;
}

.padding-fifteen-half-bottom {
    padding-bottom: 15.5%;
}

.padding-sixteen-bottom {
    padding-bottom: 16%;
}

.padding-sixteen-half-bottom {
    padding-bottom: 16.5%;
}

.padding-seventeen-bottom {
    padding-bottom: 17%;
}

.padding-seventeen-half-bottom {
    padding-bottom: 17.5%;
}

.padding-eighteen-bottom {
    padding-bottom: 18%;
}

.padding-eighteen-half-bottom {
    padding-bottom: 18.5%;
}

.padding-nineteen-bottom {
    padding-bottom: 19%;
}

.padding-nineteen-half-bottom {
    padding-bottom: 19.5%;
}

.padding-twenty-bottom {
    padding-bottom: 20%;
}

.padding-twenty-half-bottom {
    padding-bottom: 20.5%;
}

.padding-twenty-one-bottom {
    padding-bottom: 21%;
}

.padding-twenty-one-half-bottom {
    padding-bottom: 21.5%;
}

.padding-twenty-two-bottom {
    padding-bottom: 22%;
}

.padding-twenty-two-half-bottom {
    padding-bottom: 22.5%;
}

.padding-twenty-three-bottom {
    padding-bottom: 23%;
}

.padding-twenty-three-half-bottom {
    padding-bottom: 23.5%;
}

.padding-twenty-four-bottom {
    padding-bottom: 24%;
}

.padding-twenty-four-half-bottom {
    padding-bottom: 24.5%;
}

.padding-twenty-five-bottom {
    padding-bottom: 25%;
}

.padding-5px-bottom {
    padding-bottom: 5px;
}

.padding-10px-bottom {
    padding-bottom: 10px;
}

.padding-15px-bottom {
    padding-bottom: 15px;
}

.padding-20px-bottom {
    padding-bottom: 20px;
}

.padding-25px-bottom {
    padding-bottom: 25px;
}

.padding-30px-bottom {
    padding-bottom: 30px;
}

.padding-35px-bottom {
    padding-bottom: 35px;
}

.padding-40px-bottom {
    padding-bottom: 40px;
}

.padding-45px-bottom {
    padding-bottom: 45px;
}

.padding-50px-bottom {
    padding-bottom: 50px;
}

.padding-55px-bottom {
    padding-bottom: 55px;
}

.padding-60px-bottom {
    padding-bottom: 60px;
}

.padding-65px-bottom {
    padding-bottom: 65px;
}

.padding-70px-bottom {
    padding-bottom: 70px;
}

.padding-75px-bottom {
    padding-bottom: 75px;
}

.padding-80px-bottom {
    padding-bottom: 80px;
}

.padding-85px-bottom {
    padding-bottom: 85px;
}

.padding-90px-bottom {
    padding-bottom: 90px;
}

.padding-95px-bottom {
    padding-bottom: 95px;
}

.padding-100px-bottom {
    padding-bottom: 100px;
}

.padding-150px-bottom {
    padding-bottom: 150px;
}

.padding-200px-bottom {
    padding-bottom: 200px;
}


/* padding right */

.padding-one-right {
    padding-right: 1%;
}

.padding-one-half-right {
    padding-right: 1.5%;
}

.padding-two-right {
    padding-right: 2%;
}

.padding-two-half-right {
    padding-right: 2.5%;
}

.padding-three-right {
    padding-right: 3%;
}

.padding-three-half-right {
    padding-right: 3.5%;
}

.padding-four-right {
    padding-right: 4%;
}

.padding-four-half-right {
    padding-right: 4.5%;
}

.padding-five-right {
    padding-right: 5%;
}

.padding-five-half-right {
    padding-right: 5.5%;
}

.padding-six-right {
    padding-right: 6%;
}

.padding-six-half-right {
    padding-right: 6.5%;
}

.padding-seven-right {
    padding-right: 7%;
}

.padding-seven-half-right {
    padding-right: 7.5%;
}

.padding-eight-right {
    padding-right: 8%;
}

.padding-eight-half-right {
    padding-right: 8.5%;
}

.padding-nine-right {
    padding-right: 9%;
}

.padding-nine-half-right {
    padding-right: 9.5%;
}

.padding-ten-right {
    padding-right: 10%;
}

.padding-ten-half-right {
    padding-right: 10.5%;
}

.padding-eleven-right {
    padding-right: 11%;
}

.padding-eleven-half-right {
    padding-right: 11.5%;
}

.padding-twelve-right {
    padding-right: 12%;
}

.padding-twelve-half-right {
    padding-right: 12.5%;
}

.padding-thirteen-right {
    padding-right: 13%;
}

.padding-thirteen-half-right {
    padding-right: 13.5%;
}

.padding-fourteen-right {
    padding-right: 14%;
}

.padding-fourteen-half-right {
    padding-right: 14.5%;
}

.padding-fifteen-right {
    padding-right: 15%;
}

.padding-fifteen-half-right {
    padding-right: 15.5%;
}

.padding-sixteen-right {
    padding-right: 16%;
}

.padding-sixteen-half-right {
    padding-right: 16.5%;
}

.padding-seventeen-right {
    padding-right: 17%;
}

.padding-seventeen-half-right {
    padding-right: 17.5%;
}

.padding-eighteen-right {
    padding-right: 18%;
}

.padding-eighteen-half-right {
    padding-right: 18.5%;
}

.padding-nineteen-right {
    padding-right: 19%;
}

.padding-nineteen-half-right {
    padding-right: 19.5%;
}

.padding-twenty-right {
    padding-right: 20%;
}

.padding-twenty-half-right {
    padding-right: 20.5%;
}

.padding-twenty-one-right {
    padding-right: 21%;
}

.padding-twenty-one-half-right {
    padding-right: 21.5%;
}

.padding-twenty-two-right {
    padding-right: 22%;
}

.padding-twenty-two-half-right {
    padding-right: 22.5%;
}

.padding-twenty-three-right {
    padding-right: 23%;
}

.padding-twenty-three-half-right {
    padding-right: 23.5%;
}

.padding-twenty-four-right {
    padding-right: 24%;
}

.padding-twenty-four-half-right {
    padding-right: 24.5%;
}

.padding-twenty-five-right {
    padding-right: 25%;
}

.padding-5px-right {
    padding-right: 5px;
}

.padding-10px-right {
    padding-right: 10px;
}

.padding-15px-right {
    padding-right: 15px;
}

.padding-20px-right {
    padding-right: 20px;
}

.padding-25px-right {
    padding-right: 25px;
}

.padding-30px-right {
    padding-right: 30px;
}

.padding-35px-right {
    padding-right: 35px;
}

.padding-40px-right {
    padding-right: 40px;
}

.padding-45px-right {
    padding-right: 45px;
}

.padding-50px-right {
    padding-right: 50px;
}

.padding-55px-right {
    padding-right: 55px;
}

.padding-60px-right {
    padding-right: 60px;
}

.padding-65px-right {
    padding-right: 65px;
}

.padding-70px-right {
    padding-right: 70px;
}

.padding-75px-right {
    padding-right: 75px;
}

.padding-80px-right {
    padding-right: 80px;
}

.padding-85px-right {
    padding-right: 85px;
}

.padding-90px-right {
    padding-right: 90px;
}

.padding-95px-right {
    padding-right: 95px;
}

.padding-100px-right {
    padding-right: 100px;
}

.padding-200px-right {
    padding-right: 200px;
}


/* padding left */

.padding-one-left {
    padding-left: 1%;
}

.padding-one-half-left {
    padding-left: 1.5%;
}

.padding-two-left {
    padding-left: 2%;
}

.padding-two-half-left {
    padding-left: 2.5%;
}

.padding-three-left {
    padding-left: 3%;
}

.padding-three-half-left {
    padding-left: 3.5%;
}

.padding-four-left {
    padding-left: 4%;
}

.padding-four-half-left {
    padding-left: 4.5%;
}

.padding-five-left {
    padding-left: 5%;
}

.padding-five-half-left {
    padding-left: 5.5%;
}

.padding-six-left {
    padding-left: 6%;
}

.padding-six-half-left {
    padding-left: 6.5%;
}

.padding-seven-left {
    padding-left: 7%;
}

.padding-seven-half-left {
    padding-left: 7.5%;
}

.padding-eight-left {
    padding-left: 8%;
}

.padding-eight-half-left {
    padding-left: 8.5%;
}

.padding-nine-left {
    padding-left: 9%;
}

.padding-nine-half-left {
    padding-left: 9.5%;
}

.padding-ten-left {
    padding-left: 10%;
}

.padding-ten-half-left {
    padding-left: 10.5%;
}

.padding-eleven-left {
    padding-left: 11%;
}

.padding-eleven-half-left {
    padding-left: 11.5%;
}

.padding-twelve-left {
    padding-left: 12%;
}

.padding-twelve-half-left {
    padding-left: 12.5%;
}

.padding-thirteen-left {
    padding-left: 13%;
}

.padding-thirteen-half-left {
    padding-left: 13.5%;
}

.padding-fourteen-left {
    padding-left: 14%;
}

.padding-fourteen-half-left {
    padding-left: 14.5%;
}

.padding-fifteen-left {
    padding-left: 15%;
}

.padding-fifteen-half-left {
    padding-left: 15.5%;
}

.padding-sixteen-left {
    padding-left: 16%;
}

.padding-sixteen-half-left {
    padding-left: 16.5%;
}

.padding-seventeen-left {
    padding-left: 17%;
}

.padding-seventeen-half-left {
    padding-left: 17.5%;
}

.padding-eighteen-left {
    padding-left: 18%;
}

.padding-eighteen-half-left {
    padding-left: 18.5%;
}

.padding-nineteen-left {
    padding-left: 19%;
}

.padding-nineteen-half-left {
    padding-left: 19.5%;
}

.padding-twenty-left {
    padding-left: 20%;
}

.padding-twenty-half-left {
    padding-left: 20.5%;
}

.padding-twenty-one-left {
    padding-left: 21%;
}

.padding-twenty-one-half-left {
    padding-left: 21.5%;
}

.padding-twenty-two-left {
    padding-left: 22%;
}

.padding-twenty-two-half-left {
    padding-left: 22.5%;
}

.padding-twenty-three-left {
    padding-left: 23%;
}

.padding-twenty-three-half-left {
    padding-left: 23.5%;
}

.padding-twenty-four-left {
    padding-left: 24%;
}

.padding-twenty-four-half-left {
    padding-left: 24.5%;
}

.padding-twenty-five-left {
    padding-left: 25%;
}

.padding-5px-left {
    padding-left: 5px;
}

.padding-10px-left {
    padding-left: 10px;
}

.padding-15px-left {
    padding-left: 15px;
}

.padding-20px-left {
    padding-left: 20px;
}

.padding-25px-left {
    padding-left: 25px;
}

.padding-30px-left {
    padding-left: 30px;
}

.padding-35px-left {
    padding-left: 35px;
}

.padding-40px-left {
    padding-left: 40px;
}

.padding-45px-left {
    padding-left: 45px;
}

.padding-50px-left {
    padding-left: 50px;
}

.padding-55px-left {
    padding-left: 55px;
}

.padding-60px-left {
    padding-left: 60px;
}

.padding-65px-left {
    padding-left: 65px;
}

.padding-70px-left {
    padding-left: 70px;
}

.padding-75px-left {
    padding-left: 75px;
}

.padding-80px-left {
    padding-left: 80px;
}

.padding-85px-left {
    padding-left: 85px;
}

.padding-90px-left {
    padding-left: 90px;
}

.padding-95px-left {
    padding-left: 95px;
}

.padding-100px-left {
    padding-left: 100px;
}


/* padding top and bottom */

.padding-one-tb {
    padding-top: 1%;
    padding-bottom: 1%;
}

.padding-one-half-tb {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.padding-two-tb {
    padding-top: 2%;
    padding-bottom: 2%;
}

.padding-two-half-tb {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.padding-three-tb {
    padding-top: 3%;
    padding-bottom: 3%;
}

.padding-three-half-tb {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

.padding-four-tb {
    padding-top: 4%;
    padding-bottom: 4%;
}

.padding-four-half-tb {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
}

.padding-five-tb {
    padding-top: 5%;
    padding-bottom: 5%;
}

.padding-five-half-tb {
    padding-top: 5.5%;
    padding-bottom: 5.5%;
}

.padding-six-tb {
    padding-top: 6%;
    padding-bottom: 6%;
}

.padding-six-half-tb {
    padding-top: 6.5%;
    padding-bottom: 6.5%;
}

.padding-seven-tb {
    padding-top: 7%;
    padding-bottom: 7%;
}

.padding-seven-half-tb {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}

.padding-eight-tb {
    padding-top: 8%;
    padding-bottom: 8%;
}

.padding-eight-half-tb {
    padding-top: 8.5%;
    padding-bottom: 8.5%;
}

.padding-nine-tb {
    padding-top: 9%;
    padding-bottom: 9%;
}

.padding-nine-half-tb {
    padding-top: 9.5%;
    padding-bottom: 9.5%;
}

.padding-ten-tb {
    padding-top: 10%;
    padding-bottom: 10%;
}

.padding-ten-half-tb {
    padding-top: 10.5%;
    padding-bottom: 10.5%;
}

.padding-eleven-tb {
    padding-top: 11%;
    padding-bottom: 11%;
}

.padding-eleven-half-tb {
    padding-top: 11.5%;
    padding-bottom: 11.5%;
}

.padding-twelve-tb {
    padding-top: 12%;
    padding-bottom: 12%;
}

.padding-twelve-half-tb {
    padding-top: 12.5%;
    padding-bottom: 12.5%;
}

.padding-thirteen-tb {
    padding-top: 13%;
    padding-bottom: 13%;
}

.padding-thirteen-half-tb {
    padding-top: 13.5%;
    padding-bottom: 13.5%;
}

.padding-fourteen-tb {
    padding-top: 14%;
    padding-bottom: 14%;
}

.padding-fourteen-half-tb {
    padding-top: 14.5%;
    padding-bottom: 14.5%;
}

.padding-fifteen-tb {
    padding-top: 15%;
    padding-bottom: 15%;
}

.padding-fifteen-half-tb {
    padding-top: 15.5%;
    padding-bottom: 15.5%;
}

.padding-sixteen-tb {
    padding-top: 16%;
    padding-bottom: 16%;
}

.padding-sixteen-half-tb {
    padding-top: 16.5%;
    padding-bottom: 16.5%;
}

.padding-seventeen-tb {
    padding-top: 17%;
    padding-bottom: 17%;
}

.padding-seventeen-half-tb {
    padding-top: 17.5%;
    padding-bottom: 17.5%;
}

.padding-eighteen-tb {
    padding-top: 18%;
    padding-bottom: 18%;
}

.padding-eighteen-half-tb {
    padding-top: 18.5%;
    padding-bottom: 18.5%;
}

.padding-nineteen-tb {
    padding-top: 19%;
    padding-bottom: 19%;
}

.padding-nineteen-half-tb {
    padding-top: 19.5%;
    padding-bottom: 19.5%;
}

.padding-twenty-tb {
    padding-top: 20%;
    padding-bottom: 20%;
}

.padding-twenty-half-tb {
    padding-top: 20.5%;
    padding-bottom: 20%;
}

.padding-twenty-one-tb {
    padding-top: 21%;
    padding-bottom: 21%;
}

.padding-twenty-one-half-tb {
    padding-top: 21.5%;
    padding-bottom: 21.5%;
}

.padding-twenty-two-tb {
    padding-top: 22%;
    padding-bottom: 22%;
}

.padding-twenty-two-half-tb {
    padding-top: 22.5%;
    padding-bottom: 22.5%;
}

.padding-twenty-three-tb {
    padding-top: 23%;
    padding-bottom: 23%;
}

.padding-twenty-three-half-tb {
    padding-top: 23.5%;
    padding-bottom: 23.5%;
}

.padding-twenty-four-tb {
    padding-top: 24%;
    padding-bottom: 24%;
}

.padding-twenty-four-half-tb {
    padding-top: 24.5%;
    padding-bottom: 24.5%;
}

.padding-twenty-five-tb {
    padding-top: 25%;
    padding-bottom: 25%;
}

.padding-thirty-tb {
    padding-top: 30%;
    padding-bottom: 30%;
}

.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-10px-tb {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-15px-tb {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-20px-tb {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-25px-tb {
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding-30px-tb {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-35px-tb {
    padding-top: 35px;
    padding-bottom: 35px;
}

.padding-40px-tb {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-45px-tb {
    padding-top: 45px;
    padding-bottom: 45px;
}

.padding-50px-tb {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-55px-tb {
    padding-top: 55px;
    padding-bottom: 55px;
}

.padding-60px-tb {
    padding-top: 60px;
    padding-bottom: 60px;
}

.padding-65px-tb {
    padding-top: 65px;
    padding-bottom: 65px;
}

.padding-70px-tb {
    padding-top: 70px;
    padding-bottom: 70px;
}

.padding-75px-tb {
    padding-top: 75px;
    padding-bottom: 75px;
}

.padding-80px-tb {
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-85px-tb {
    padding-top: 85px;
    padding-bottom: 85px;
}

.padding-90px-tb {
    padding-top: 90px;
    padding-bottom: 90px;
}

.padding-95px-tb {
    padding-top: 95px;
    padding-bottom: 95px;
}

.padding-100px-tb {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* padding left and right */

.padding-one-lr {
    padding-left: 1%;
    padding-right: 1%;
}

.padding-one-half-lr {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.padding-two-lr {
    padding-left: 2%;
    padding-right: 2%;
}

.padding-two-half-lr {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.padding-three-lr {
    padding-left: 3%;
    padding-right: 3%;
}

.padding-three-half-lr {
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.padding-four-lr {
    padding-left: 4%;
    padding-right: 4%;
}

.padding-four-half-lr {
    padding-left: 4.5%;
    padding-right: 4.5%;
}

.padding-five-lr {
    padding-left: 5%;
    padding-right: 5%;
}

.padding-five-half-lr {
    padding-left: 5.5%;
    padding-right: 5.5%;
}

.padding-six-lr {
    padding-left: 6%;
    padding-right: 6%;
}

.padding-six-half-lr {
    padding-left: 6.5%;
    padding-right: 6.5%;
}

.padding-seven-lr {
    padding-left: 7%;
    padding-right: 7%;
}

.padding-seven-half-lr {
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.padding-eight-lr {
    padding-left: 8%;
    padding-right: 8%;
}

.padding-eight-half-lr {
    padding-left: 8.5%;
    padding-right: 8.5%;
}

.padding-nine-lr {
    padding-left: 9%;
    padding-right: 9%;
}

.padding-nine-half-lr {
    padding-left: 9.5%;
    padding-right: 9.5%;
}

.padding-ten-lr {
    padding-left: 10%;
    padding-right: 10%;
}

.padding-ten-half-lr {
    padding-left: 10.5%;
    padding-right: 10.5%;
}

.padding-eleven-lr {
    padding-left: 11%;
    padding-right: 11%;
}

.padding-eleven-half-lr {
    padding-left: 11.5%;
    padding-right: 11.5%;
}

.padding-twelve-lr {
    padding-left: 12%;
    padding-right: 12%;
}

.padding-twelve-half-lr {
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.padding-thirteen-lr {
    padding-left: 13%;
    padding-right: 13%;
}

.padding-thirteen-half-lr {
    padding-left: 13.5%;
    padding-right: 13.5%;
}

.padding-fourteen-lr {
    padding-left: 14%;
    padding-right: 14%;
}

.padding-fourteen-half-lr {
    padding-left: 14.5%;
    padding-right: 14.5%;
}

.padding-fifteen-lr {
    padding-left: 15%;
    padding-right: 15%;
}

.padding-fifteen-half-lr {
    padding-left: 15.5%;
    padding-right: 15.5%;
}

.padding-sixteen-lr {
    padding-left: 16%;
    padding-right: 16%;
}

.padding-sixteen-half-lr {
    padding-left: 16.5%;
    padding-right: 16.5%;
}

.padding-seventeen-lr {
    padding-left: 17%;
    padding-right: 17%;
}

.padding-seventeen-half-lr {
    padding-left: 17.5%;
    padding-right: 17.5%;
}

.padding-eighteen-lr {
    padding-left: 18%;
    padding-right: 18%;
}

.padding-eighteen-half-lr {
    padding-left: 18.5%;
    padding-right: 18.5%;
}

.padding-nineteen-lr {
    padding-left: 19%;
    padding-right: 19%;
}

.padding-nineteen-half-lr {
    padding-left: 19.5%;
    padding-right: 19.5%;
}

.padding-twenty-lr {
    padding-left: 20%;
    padding-right: 20%;
}

.padding-twenty-half-lr {
    padding-left: 20.5%;
    padding-right: 20.5%;
}

.padding-twenty-one-lr {
    padding-left: 21%;
    padding-right: 21%;
}

.padding-twenty-one-half-lr {
    padding-left: 21.5%;
    padding-right: 21.5%;
}

.padding-twenty-two-lr {
    padding-left: 22%;
    padding-right: 22%;
}

.padding-twenty-two-half-lr {
    padding-left: 22.5%;
    padding-right: 22.5%;
}

.padding-twenty-three-lr {
    padding-left: 23%;
    padding-right: 23%;
}

.padding-twenty-three-half-lr {
    padding-left: 23.5%;
    padding-right: 23.5%;
}

.padding-twenty-four-lr {
    padding-left: 24%;
    padding-right: 24%;
}

.padding-twenty-four-half-lr {
    padding-left: 24.5%;
    padding-right: 24.5%;
}

.padding-twenty-five-lr {
    padding-left: 25%;
    padding-right: 25%;
}

.padding-5px-lr {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-10px-lr {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-20px-lr {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-25px-lr {
    padding-left: 25px;
    padding-right: 25px;
}

.padding-30px-lr {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-35px-lr {
    padding-left: 35px;
    padding-right: 35px;
}

.padding-40px-lr {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-45px-lr {
    padding-left: 45px;
    padding-right: 45px;
}

.padding-50px-lr {
    padding-left: 50px;
    padding-right: 50px;
}

.padding-55px-lr {
    padding-left: 55px;
    padding-right: 55px;
}

.padding-60px-lr {
    padding-left: 60px;
    padding-right: 60px;
}

.padding-65px-lr {
    padding-left: 65px;
    padding-right: 65px;
}

.padding-70px-lr {
    padding-left: 70px;
    padding-right: 70px;
}

.padding-75px-lr {
    padding-left: 75px;
    padding-right: 75px;
}

.padding-80px-lr {
    padding-left: 80px;
    padding-right: 80px;
}

.padding-85px-lr {
    padding-left: 85px;
    padding-right: 85px;
}

.padding-90px-lr {
    padding-left: 90px;
    padding-right: 90px;
}

.padding-95px-lr {
    padding-left: 95px;
    padding-right: 95px;
}

.padding-100px-lr {
    padding-left: 100px;
    padding-right: 100px;
}

.padding-150px-lr {
    padding-left: 150px;
    padding-right: 150px;
}

.padding-200px-lr {
    padding-left: 200px;
    padding-right: 200px;
}


/*Video pruebas*/

video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

figure video {
    height: 555px;
    width: 295px;
}

.font-size-60 {
    font-size: 35px !important;
}

@media (min-width: 1200px) {
    .font-size-60 {
        font-size: 60px !important;
    }
}

.bg-card {
    background-color: #fff;
    color: #fff;
    padding: 70px;
    position: fixed;
    right: 10px;
    bottom: 0px;
    z-index: 997;
    box-shadow: 2px 1px 1px 3px #ff214f;
}

.position-close {
    position: fixed;
    padding-left: 50px;
    padding-bottom: 170px;
    right: 7px;
    bottom: 0px;
    z-index: 997;
    font-size: 30px;
    border-color: white;
}

.ui-selectmenu-button {
    border: none;
    background-color: #f4f5f8 !important;
}

.btn-white {
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    padding: 10px;
}

.bg-home-1 {
    background-image: url(../../img/index/2023/slider_docsmx2023.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-home-2 {
    background-image: url(../../img/index/hoy_festival_docsmx2022.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-home-3 {
    background-image: url(../../img/index/2023/volvernos_historias_docsmx2023.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 90px;
}

.bg-home-4 {
    background-image: url(../../img/index/2023/destacados_docsmx2023.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 90px;
}

.bg-home-5 {
    background-image: url(../../img/index/2023/estes_donde_estes_docsmx2023.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 90px;
}

.bg-home-6 {
    background-image: url(../../img/index/seminario_hubert_docsmx2022.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 90px;
}

.bg-home-7 {
    background-image: url(../../img/index/materiales_docsmx2022.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 90px;
}

.bg-home-8 {
    background-image: url(../../img/index/docslab_docsmx2022.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 90px;
}

.bg-home-9 {
    background-image: url(../../img/index/2023/plataforma_docsmx2023.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-home-10 {
    background-image: url(../../img/index/2023/plataformaib_docsmx2023.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-home-11 {
    background-image: url(../../img/index/2023/tallerescritura_docsmx2023.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.margin-slide {
    margin-top: 80px;
}

.margin-slide2 {
    margin-top: 30px;
}

.text-slide {
    font-size: 10px;
    display: block;
}

@media (min-width: 1200px) {
    .margin-slide {
        margin-top: 240px;
    }

    .margin-slide2 {
        margin-top: 240px;
    }
}

.text-navbar {
    margin-left: 15px;
    color: #000;
    text-shadow: #9f9d9d 1px 0 10px;
}


/* @media (min-width: 768px) {
    .margin-slide {
        margin-top: 150px;
    }
} */